body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6d5959;

}

header {
    background-color: #aa7b7b;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    margin-top: 0;
}

nav {
    background-color: #4b0e0e;
    padding: 10px;
    text-align: center;

}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    
}

.cuadro {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: #ebb8b8;
    border-radius: 15px;
    border: 4px solid #000000;
}
.cuadro2 {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #9b9b9b;
    border-radius: 15px;
    border: 3px solid #0b1544;
}


h2 {
    color: #d32f2f;
    text-align: center;
    margin-top: 0;
    
}

img {
    width: 100%;
    margin-top: 15px;
    border-radius: 10px;
}

footer {
    margin-top: 30px;
    background-color: #ef5350;
    color: white;
    text-align: center;
    padding: 10px;

}
a{
  color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px; 
    background-color: #4b0e0e;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #6b1a1a;

}
